/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

* {
    -ms-touch-action: none;
    -ms-content-zooming: none;
    touch-action: none; /* required to make pointer move event work */
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#svg-lib {
    display: none;
}

#game-container {
    background-color: #E2E654;
    display:block; 
    position:absolute; 
    width: 100%;
    height: 100%;
    overflow: hidden;
    -ms-touch-action: none; /* required to make pointer move event work */
    touch-action: none; /* required to make pointer move event work */
}

#debug {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#debug > div {
    width: 25%;
    float: left;
}


/* ==========================================================================
   Game objects
   ========================================================================== */

.sprite {
    position: absolute;
    width: 0;
    height: 0;
}

.sprite img {
    transform: translate3d(-50%,-50%,0);
}

.hidden {
    display: none;
}

/*.unselectable {*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {
}
