div#side_nav_bar {
  display: block;
  float: left;
  width: 406px;
  padding: 50px 0 0 18px;
  background: #fff;
  
}
#side_nav_bar .left_column {
  width: 180px;
  float: left;
  border-right: #ccc 1px solid;
  padding-right: 18px;
}
#side_nav_bar .left_column h3 {
  margin-bottom: 30px;
}
#side_nav_bar .right_column {
  width: 174px;
  padding-left: 18px;
  float: left;
}
#side_nav_bar .right_column {
  
}
#side_nav_bar .simple_menu li a {
  font-size: 14px;
}
#side_nav_bar .simple_menu li.section_title {
  font-size: 27px;
}
div#page_container_wrapper {
  width: 597px;
  float: right;
  border-left: #ccc 1px solid;
}

div#page_container {  
  -webkit-transform: scale(0.777);
  -webkit-transform-origin: top left;  
}
div#page_container_inner div.page {
}


div#lightbox_container {
	width:1024px;
	height:768px;
	background-image: url(../images/lightbox_landscape.png);
}


div#lightbox_content_fader {
	width:1024px;
	height:768px;
}

div#lightbox_inner {
	width:1024px;
	height:768px;
}

#lightbox_inner div {
	width:1024px;
	height:768px;
}

#lightbox_inner canvas.landscape {
	margin-top:0px;
	margin-left:0px;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 0 0;
}

#lightbox_inner canvas.portrait {
	margin-top:0px;
	margin-left:190px; /* when we first used 190px, is was incorrect on the ipad, versus simulator... seems to have fixed itself :-/ */
	-webkit-transform: scale(0.75);		/* 576 x 768 */
	-webkit-transform-origin: 0 0;
}



#lightbox_loading {
	left:500px;
	top:372px;
}

div#footer {
  position: absolute;
  width: 100%;
  bottom: 35px;
  left: 0;
}

/* --- page specific stuff --- */
#contents_page div.hidden_contents {
  display: block;  
}
#contents_page div.hidden_contents h2 {
  font-size: 36px;
  font-weight: 100;
  margin: 200px auto 0;  
  text-align: center;
}
#contents_page div.hidden_contents p {
  font-size: 16px;
  text-align: center;
}
#contents_page .hidden_contents h1.factory {
  margin: 50px 0 0 50px;
}
#contents_page div.page_inner {
  display: none;
}


div#lightbox_single {
	width:1024px;
	height:768px;
}